<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_23"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_23"
        android:supportsRtl="true"
        android:theme="@style/Theme.MARAMAGAGRICULTURALAID"
        tools:targetApi="31">
        <activity
            android:name=".Municipal.BarangayOverview.MunicipalFarmersDetails"
            android:exported="false" />
        <activity
            android:name=".Municipal.MunicipalSubsidy.MunicipalSubsidyDetails"
            android:exported="false" />
        <activity
            android:name=".Municipal.MunicipalSubsidy.MunicipalSubsidyManagement"
            android:exported="false" />
        <activity
            android:name=".Municipal.BarangayOverview.MunicipalFarmerList"
            android:exported="false" />
        <activity
            android:name=".Municipal.BarangayOverview.BarangayList"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Municipal.MunicipalActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".SubsidyManagement.SubsidyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SubsidyManagement.SubsidyListActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivities.SuccessSubsidyApplication"
            android:exported="false" />
        <activity
            android:name=".SubsidyManagement.SubsidyRequest"
            android:exported="false" />
        <activity
            android:name=".Notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivities.SuccessedEditedFarmer"
            android:exported="false" />
        <activity
            android:name=".FarmersData.EditFarmInformationActivity"
            android:exported="false" />
        <activity
            android:name=".FarmersData.EditFarmerActivity"
            android:exported="false" />
        <activity
            android:name=".SuccessActivities.SuccessedAddFarmer"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FarmersData.AddFarmerAcitivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".FarmersData.FarmInfoActivity"
            android:exported="false" />
        <activity
            android:name=".FarmersData.FarmersListActivity"
            android:exported="false"
            android:label="@string/title_activity_farmers_list"
            android:theme="@style/Theme.MARAMAGAGRICULTURALAID.NoActionBar" />
        <activity
            android:name=".FarmersData.FarmersDetailsActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>